.custom-page-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-submit-container {
    display: flex;
    justify-content: space-between;
}